<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="test-biblio">
  <display-name>Système de gestion de bibliothèque WEB</display-name>
  <context-param>
    <param-name>exempleParam1</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>exempleParam2</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>
      <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>javaEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
  <listener>
    <listener-class>AubergeInnServlet.AubergeInnSessionListener</listener-class>
    <listener-class>AubergeInnServlet.AubergeInnContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>AubergeInnServlet.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>AubergeInnServlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionClients</servlet-name>
    <servlet-class>AubergeInnServlet.GestionClients</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Client</servlet-name>
    <servlet-class>AubergeInnServlet.Client</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterClient</servlet-name>
    <servlet-class>AubergeInnServlet.AjouterClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerClient</servlet-name>
    <servlet-class>AubergeInnServlet.SupprimerClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionChambre</servlet-name>
    <servlet-class>AubergeInnServlet.GestionChambre</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Chambre</servlet-name>
    <servlet-class>AubergeInnServlet.Chambre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterChambre</servlet-name>
    <servlet-class>AubergeInnServlet.AjouterChambre</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerChambre</servlet-name>
    <servlet-class>AubergeInnServlet.SupprimerChambre</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GestionCommodites</servlet-name>
    <servlet-class>AubergeInnServlet.GestionCommodites</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterCommodite</servlet-name>
    <servlet-class>AubergeInnServlet.AjouterCommodite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InclureCommodite</servlet-name>
    <servlet-class>AubergeInnServlet.InclureCommodite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnleverCommodite</servlet-name>
    <servlet-class>AubergeInnServlet.EnleverCommodite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Reservation</servlet-name>
    <servlet-class>AubergeInnServlet.Reservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionClients</servlet-name>
    <url-pattern>/GestionClients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterClient</servlet-name>
    <url-pattern>/AjouterClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerClient</servlet-name>
    <url-pattern>/SupprimerClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionChambre</servlet-name>
    <url-pattern>/GestionChambre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Chambre</servlet-name>
    <url-pattern>/Chambre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterChambre</servlet-name>
    <url-pattern>/AjouterChambre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerChambre</servlet-name>
    <url-pattern>/SupprimerChambre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionCommodites</servlet-name>
    <url-pattern>/GestionCommodites</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterCommodite</servlet-name>
    <url-pattern>/AjouterCommodite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InclureCommodite</servlet-name>
    <url-pattern>/InclureCommodite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnleverCommodite</servlet-name>
    <url-pattern>/EnleverCommodite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Reservation</servlet-name>
    <url-pattern>/Reservation</url-pattern>
  </servlet-mapping>
</web-app>
